.about_page_container{
  max-width: 1000px;
  margin-top: 100px;
}
.technology-icon{
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: auto 5px;
}
.social-icon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: auto 5px;
}
.social-icon:hover{
  cursor: pointer;
  width: 45px;
  height: 45px;
  transition: 0.2s ease-in-out;
}
.technology-and-author{
  display: flex;
  justify-content: space-evenly;
}
.social-links{
  display: flex;
  /* width: 300px; */
  height: 70px;
  justify-content: space-between;
}
.social-icon-and-text{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
