.about_page_container{
  max-width: 1000px;
  margin-top: 100px;
}
.technology-icon{
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: auto 5px;
}
.social-icon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: auto 5px;
}
.technology-and-author{
  display: flex;
  justify-content: space-evenly;
}
