.single-card-outer-container{
  width: 800px;
  max-height: 420px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 10px;
  background-color: white;
}
.single-card-outer-container-catloc{
  width: 600px;
  height: 160px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 10px;
  background-color: white;
}

.single-card-top-image-div{
  width: 100%;
  height: 60%;
  min-height: 178px;
  max-height: 178px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-card-top-image-div-catloc{
  width: 100%;
  height: 80%;
  max-height: 178px;
  overflow: hidden;
  border-radius: 5px;
}

.single-card-main-img{
  width: 100%;
  height: 100%;
  min-height: 180px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.single-card-main-img:hover{
  cursor: pointer;
  height: 100%;
  /* transform: translateY(-6px); */
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  transition: ease 0.2s;
}

.single-card-love-view-div{
  display: flex;
  font-size: 18px;
}
.single-card-love-view-div>div{
  display: flex;
  padding-right: 10px;
  align-items: center;
  color: rgb(26, 99, 235);
}
.single-card-love-view-div>div>span{
  padding: 0px 5px;
}
.single-card-info-div{
  font-size: 15px;
  margin: auto 3px;
}
.single-card-info-div>div{
  padding-top: 5px;
}
.single-card-user-and-date-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 3px;
}
.single-card-hr{
  margin: 0px 10px;
}

.single-card-modal-images-div{
  max-height: 800px;
  display: flex;
  width: 1200px;
}

.ok-button{
  width: 70px;
  margin: auto 5px;
}

.short-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.short-buttons > button {
  width: 70px;
  border-radius: 3px;
  margin: auto 5px;
  height: 28px;
  background-color: #0095F6;
  color: white;
  border: none;
  font-weight: 600;
}

.short-buttons > button:hover{
  background-color: #39b0ff;
  transition: 0.3s;
  cursor: pointer;
}
.share-buttons-div{
  position: fixed;
  top: 100px;
  right: 0px;
  border: 1px solid gray;
  border-radius: 5px;
  min-width: 200px;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.856);
}
.post-modal-img{
  max-height: 700px;
}