.single-card-outer-container{
  width: 800px;
  max-height: 420px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 10px;
  background-color: white;
}
.single-card-outer-container-catloc{
  width: 600px;
  height: 160px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 10px;
  background-color: white;
}

.single-card-top-image-div{
  width: 100%;
  height: 60%;
  min-height: 178px;
  max-height: 178px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-card-top-image-div-catloc{
  width: 100%;
  height: 80%;
  max-height: 178px;
  overflow: hidden;
  border-radius: 5px;
}

.single-card-main-img{
  width: 100%;
  height: 100%;
  min-height: 180px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.single-card-main-img:hover{
  cursor: pointer;
  height: 100%;
  /* transform: translateY(-6px); */
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  transition: ease 0.2s;
}
.single-card-main-vid{
  width: 100%;
  height: 100%;
  min-height: 180px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.single-card-main-vid:hover{
  cursor: pointer;
  height: 100%;
  /* transform: translateY(-6px); */
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  transition: ease 0.2s;
}

.single-card-love-view-div{
  display: flex;
  font-size: 18px;
}
.single-card-love-view-div>div{
  display: flex;
  padding-right: 10px;
  align-items: center;
  color: rgb(26, 99, 235);
}
.single-card-love-view-div>div>span{
  padding: 0px 5px;
}
.single-card-info-div{
  font-size: 15px;
  margin: auto 3px;
}
.single-card-info-div>div{
  padding-top: 5px;
}
.single-card-user-and-date-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 3px;
}
.single-card-hr{
  margin: 0px 10px;
}

.single-card-modal-images-div{
  max-height: 750px;
  display: flex;
  width: 1200px;
  /* justify-content: space-around; */
}

.ok-button{
  width: 70px;
  margin: auto 5px;
}

.short-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.short-buttons > button {
  width: 70px;
  border-radius: 3px;
  margin: auto 5px;
  height: 28px;
  background-color: #0095F6;
  color: white;
  border: none;
  font-weight: 600;
}

.short-buttons > button:hover{
  background-color: #39b0ff;
  transition: 0.3s;
  cursor: pointer;
}
.share-buttons-div{
  position: absolute;
  top: 30px;
  right: 0px;
  /* border: 1px solid gray;
  border-radius: 5px;
  min-width: 200px;
  min-height: 100px; */
  background-color: rgba(255, 255, 255, 0.856);
  z-index: 200;
}
.post-modal-img-div{
  max-height: 900px;
  min-width: 650px;
  max-width: 730px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none; 
   /* IE and Edge */
  scrollbar-width: none;  
  /* Firefox */  
  /* object-fit: contain; */
  margin-right: 5px;
}
.post-modal-img-div::-webkit-scrollbar {
  display: none;
}
.post-modal-img{
  max-height: 750px; 
  object-fit: contain;
  border-radius: 5px;
}
.post-modal-img:hover{
  cursor: zoom-in;
}
.post-modal-vid{
  width: 700px;
  height: 365px;
  object-fit: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.post-modal-commentinput-div{
  width: 350px;
  height: 50px;
}
.post-modal-user-like-save-share{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 360px;
}

.post-modal-img-preview-div{
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;   
}

.post-modal-img-preview-inner{
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;
  overflow-x: scroll;
  -ms-overflow-style: none; 
   /* IE and Edge */
  scrollbar-width: none;    
}

.post-modal-img-preview-inner::-webkit-scrollbar {
  display: none;
}

.post-modal-img-preview-current{
  width: 60px;
  height: 45px;
  object-fit: cover;
  margin: 5px 3px;
}
.post-modal-img-preview{
  width: 60px;
  height: 45px;
  object-fit: cover;
  margin: 5px 3px;
  opacity: 0.5;
}
.post-modal-img-preview:hover{
  opacity: 0.8;
}

.fullscreen-img{
  object-fit: contain;
  min-width: 1200px;
  min-height: 800px;
  max-height: 95vh;
  max-width: 95vw;
}
.fullscreen-img-container{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-img-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.fullscreen-img-container::-webkit-scrollbar {
  display: none;
}


.postmodal-comments-container {
  padding-left: 0px;
  padding-bottom: 5px;
  padding-right: 0px;
  max-height: 250px;
  overflow-y: scroll;
  max-width: 380px;
}

.post-modal-like-share-save-div{
  display: flex;
  /* justify-content: space-between; */
  /* border-bottom: 1px solid gray; */
  margin-bottom: 10px;
  max-width: 300px;
}
.post-modal-like-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 10px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  min-width: 50px;
  font-size: 20px;
}
.share-button-div{
  margin: 0px 3px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-comment-editor-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  max-width: 370px;
}
.post-modal-user-row-div{
  max-width: 350px;
  width: fit-content;
}

