.notif-center-container {
  width: 600px;
}

.notif-center-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.notif-center-body {
  display: flex;
  width: 100%;
  height: 400px;
}

.notif-center-nav {
  width: 150px;
  border-right: 1px solid rgb(210, 210, 210);
}

.notif-center-nav-option {
  height: 25%;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.notif-center-nav-option:last-child {
  border-bottom: none;
}

.notif-center-nav-option.active {
  background-color: black;
}

.notif-center-header-text {
  font-size: 24px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

.clear-all-button {
    background-color: none;
    
}