.notif-center-container {
  width: 600px;
}

.notif-center-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.notif-center-body {
  display: flex;
  width: 100%;
  height: 350px;
}

.notif-center-nav {
  width: 150px;
  border-right: 1px solid rgb(230, 230, 230);
}

.notif-center-nav-option {
  height: 25%;
  border-bottom: 1px solid rgb(230, 230, 230);
  cursor: pointer;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(56, 56, 56);
}

.notif-center-nav-option:hover {
  background-color: rgb(242, 242, 242);
}

.notif-center-nav-option:last-child {
  border-bottom: none;
  border-bottom-left-radius: 6px;
}

.notif-center-nav-option.active {
  background-color: rgb(225, 225, 225);
  color: rgb(0, 149, 246);
}

.notif-center-nav-option:active:hover {
  background-color: rgb(219, 219, 219);
  color: rgb(150, 150, 150);
}

.notif-center-header-text {
  font-size: 24px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

.clear-all-button {
  background-color: rgb(250, 250, 250);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.clear-all-button:hover {
  color: rgb(180, 0, 0);
}
