.feed_post-container {
  width: 100%;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
  /* border-left: none;
  border-right: none; */
  margin-bottom: 55px;
  margin-top: 20px;
  transition-property: margin-bottom;
  transition-duration: 0.5s;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.feed_post-header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  text-decoration: none;
}

.feed_post-header > img {
  height: 33px;
  width: 33px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.feed_post-container a {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

.feed_post-header p {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.feed_post-image > img {
  width: 100%;
  height: 100%;
}

.feed_post-info {
  width: 100%;
  height: 20%;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  bottom: 0px;
}
.feed_post-info-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed_post-info-icons-left {
  display: flex;
  align-items: center;
}

.feed_post-info-icons-right {
  display: flex;
  align-items: center;
}

.post-icon {
  /* height: 22px;
  width: 22px; */
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.post-icon.heart-full {
  color: rgb(233, 63, 77);
}

.post-icon.heart-full:hover {
  color: rgb(232, 89, 100);
}

.post-icon-comment {
  /* height: 22px;
  width: 22px; */
  font-size: 25px;
  margin-top: 6px;
  margin-left: 15px;
  cursor: pointer;
}
.post-icon-comment:hover,
.post-icon-bk:hover {
  color: rgb(0, 149, 246);
}

.post-icon:hover {
  color: rgb(233, 63, 77);
}

.post-icon-bk {
  /* height: 22px;
  width: 22px; */
  font-size: 28px;
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.post-icon-bk.bk-full {
  color: rgb(0, 149, 246);
}

.post-icon-bk.bk-full:hover {
  color: rgb(111, 192, 247);
}

.feed_post-info-comments {
  display: flex;
  flex-direction: column;
}

.info-likes {
  margin-left: 15px;
  margin-bottom: 4px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.info-caption {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.caption-user {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.post-mention {
  cursor: pointer;
}

.post-caption {
  margin-top: -4px;
  width: 470px;
}

.post-comments-container {
  padding-left: 15px;
  padding-bottom: 5px;
}

.post-new-comment {
  min-height: 55px;
}

.post-timestamp {
  color: rgb(137, 137, 137);
  font-size: 11px;
  padding-left: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9e9e9;
}
