@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.footer-a {
  color: black;
  margin: none;
  margin-bottom: 20px;
}

.footer-ul {
  margin: none;
  padding: none;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 100%;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #6a2c70,
    #b83b5e);
}

/* .top-navbar {
  display: flex;
  background-color: white;
  padding: 0px 150px;
  border-style: solid;
  border-width: 0px;
  border-color: #e9e9e9;
  width: 100%;
  height: 40px;
  justify-content: space-between;
} */

.footer-logo {
  text-align: center;
  width: 100%;
  margin: 0;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  font-weight: 700;
  color: white;
  padding-top: 50px;
}

.footer-div {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: none;
  margin-top: 40px;
  bottom: 0;
  align-content: center;
  margin-bottom: 20px;
}
