.all-users-div {
  max-width: 500px;
  padding: 10px 0px 10px 10px;
}

.users-page-main-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 800px;
  padding: 10px;
  margin-top: 40px;
}

.all-users-miniprofile-div{
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user-list-and-mini-profiles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}
