@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: #fafafa;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main_body {
  /* height: 2000px; */
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 37%;
  margin-left: -350px;
}

.body_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  /* align-items: flex-start; */
}

.login-form {
  margin-top: 50px;
}

.signup-form {
  margin-top: 50px;
}

@media (max-width: 1180px) {
  .mini-profile-and-suggestions {
    display: none;
  }
  .main_body {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }
  .right-side {
    left: auto !important;
    right: 0 !important;
    margin-left: 0 !important;
    margin-right: 15px;
  }
  .search-and-dropdown-display-main-box {
    left: 50%;
    right: auto !important;
    margin-left: 75px !important;
  }
}

@media (max-width: 1060px) {
  .search-and-dropdown-display-main-box {
    left: 50%;
    right: auto !important;
    margin-left: -140px !important;
  }
  .main-search-bar:focus {
    width: 200px !important;
  }
  .search-and-dropdown-display-main-box.focused-search {
    width: 250px !important;
  }
}

@media (max-width: 772px) {
  .nav-title-logo {
    left: 0 !important;
    margin-left: 30px !important;
  }
}

@media (max-width: 650px) {
  body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .feed_post-container {
    width: 90vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
    transition-property: margin-bottom;
    transition-duration: 0.5s;
  }
  .notif-center-container {
    width: auto !important;
  }

  .new-post-modal {
    width: 90% !important;
  }
}

@media (max-width: 630px) {
  .search-and-dropdown-display-main-box {
    display: none !important;
  }
  .main-search-bar {
    display: none !important;
  }
}

@media screen and (max-device-width: 650px) and (orientation: portrait) {
  .top-navbar {
    height: 8em !important;
    padding: 0px 5em !important;
    margin-top: -1px;
  }

  .search-and-dropdown-display-main-box {
    display: none !important;
  }

  .top-navbar p {
    font-size: 2.7em;
  }
  .lioness {
    width: 5em !important;
    height: 5em !important;
  }
  .navbar-icon {
    display: none !important;
  }

  body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .body_container {
    margin: 0 !important;
  }

  .feed_post-header {
    height: 6em !important;
  }

  .feed_post-header p {
    font-size: 2em !important;
    font-weight: 600;
  }

  .feed_post-header > img {
    height: 4em !important;
    width: 4em !important;
    border-radius: 50% !important;
    margin-right: 2em !important;
    margin-left: 2em !important;
  }

  .feed_post-container {
    width: 100vw !important;
    margin-left: auto !important;
    /* margin-right: auto !important;
    margin-bottom: 0 !important; */
    margin: 0 !important;
    transition-property: margin-bottom;
    border: none !important;
    transition-duration: 0.5s;
    box-shadow: none !important;
  }

  .feed_post-info-icons-left {
    margin-left: 0.8em !important;
    margin-top: 0.5em !important;
  }

  .feed_post-info-icons svg {
    font-size: 3.5em !important;
  }

  .post-icon-comment {
    margin-top: 3px !important;
    margin-left: 0.8em !important;
  }

  .info-likes {
    margin-left: 1.4em !important;
    margin-top: 0.2em !important;
    font-size: 1.6em !important;
  }

  .caption-user {
    margin-left: 1.4em !important;
    margin-top: 0.2em !important;
    font-size: 1.7em !important;
    /* padding-left: 4px !important; */
  }

  .post-caption {
    font-size: 1.7em !important;
    margin-top: 0px !important;
  }

  .post-timestamp {
    color: rgb(137, 137, 137);
    font-size: 1.2em !important;
    padding-left: 1.8em !important;
    border-bottom: 1px solid #e9e9e9;
  }

  .post-comments-container {
    padding-left: 1.4em !important;
    padding-bottom: 5px;
  }

  .comment-user {
    font-size: 1.7em !important;
    margin-left: 0.5em !important;
  }
  /* 
  .comment a {
    font-size: 1.7em !important;
    font-weight: 600;
    color: rgb(38, 38, 38);
    margin-right: 5px;
  } */

  .comment {
    font-size: 1.7em !important;
  }

  .comment-editor {
    padding-top: 18px;
    padding-left: 1.5em !important;
    font-size: 1.4em !important;
    width: 85% !important;
  }

  .comment-submit {
    margin-right: 1.5em !important;
    font-size: 1.4em !important;
    padding: 1.1em !important;
  }

  .post-tab-container {
    width: 100% !important;
    height: 8% !important;
    left: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    bottom: 0 !important;
    top: 92% !important;
  }

  .post-tab-new-story {
    display: none !important;
  }

  .notification-buttons {
    display: none !important;
  }

  .post-tab-new-post {
    height: 100% !important;
    color: rgb(190, 190, 190);
    font-size: 6em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 4px;
    padding-right: 2px;
  }
  .new-post-overlay {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .new-post-modal {
    position: fixed;
    top: 8em !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;

    transform: none !important;
    background-color: rgb(250, 250, 250);
    padding: 0px !important;
    border-radius: 0px !important;
  }

  .image-placeholder {
    margin-top: 8em !important;
    width: 100% !important;
    height: auto !important;
    padding-top: 100%;
    position: relative;
    background-color: rgb(219, 219, 219);
  }

  .image-upload {
    font-size: 10em !important;
  }

  .new-post-username {
    position: fixed !important;
    top: 8em !important;
    margin-top: 2.4em !important;
    margin-left: 1.8em !important;
  }

  .new-post-buttons {
    width: 100% !important;
    position: fixed !important;
    bottom: 6em !important;
  }

  .new-post-cancel,
  .new-post-submit {
    line-height: 3em !important;
    height: 2em !important;
    width: 50% !important;
    cursor: pointer;

    text-align: center;
    font-size: 3em !important;
    font-weight: 600;
  }

  .new-post-cancel:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(172, 0, 0);
  }

  .new-post-submit:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(0, 149, 246);
  }
  .new-post-username a {
    font-size: 2em !important;
  }

  .editor {
    font-size: 2em !important;
    margin-top: 2em !important;
    padding: 0px 1.5em 5px 1.5em !important;

    width: 100% !important;
  }

  .main_body {
    margin-top: 8em;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .feed_container {
    width: 100% !important;
    margin: auto !important;
  }
}
