@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    font-family: "Open Sans", sans-serif;

}

.login_container {
    /* background-color: lightgreen; */
    height: 500px;
    width: 900px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.login-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img img {
    height: 65%;
}

.login_form-container {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #fafafa;;
    align-items: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    background-color: white;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;
}

.login-form-element {
    width: 240px;
    border-radius: 3px;
}

.login-form-element input {
    width: 240px;
    margin-top: 8px;
    height: 32px;
    border: solid;
    border-width: 1px;
    border-color: #e9e9e9;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.buttons > button {
    width: 240px;
    border-radius: 3px;
    margin-top: 8px;
    height: 28px;
    background-color: #0095F6;
    color: white;
    border: none;
    font-weight: 600;
}


.OR {
    font-size: 13px;
    font-weight: 600;
    color: #808080b0;
    margin-top: 20px;
}

.login-form-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.login-form-footer a {
    margin: 0px;
    text-decoration: none;
    color: #0095F6;
    font-weight: 600;
    margin-left: 6px;
}

.login-form-footer a:hover {
    margin-bottom: 10px;
    text-decoration: underline;
}

.login-form-footer p {
    margin: 0px;
}
