.main-signup-body{
    height: 60%;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.signup-img {
    height: 300px;
}

.signup-img img {
    height: 100%;
}

.signup-form_container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;

}

.signup-form_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 18px;
    height: 70px;
}

.signup-form_header img {
    height: 65%;
    margin-bottom: 7px;
}

.signup-form_header h1{
    margin: 0;
}

.signup-form_header h5{
    margin: 0;
    color: #808080b0;
}

.signup-form {
    margin: 0;
}

.signup-form button {
    width: 240px;
    border-radius: 3px;
    margin-top: 8px;
    height: 28px;
    background-color: #0095F6;
    color: white;
    border: none;
    font-weight: 600;
}

.signup-form button:hover {
    background-color: #39b0ff;
    transition: 0.3s;
    cursor: pointer;
}

.signup-form-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.signup-form-footer a {
    text-decoration: none;
    color: #0095F6;
    font-weight: 600;
    margin-left: 5px;
}

.signup-form-footer a:hover {
    text-decoration: underline;
}


.update-form-element {
    width: 450px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.update-form-element input {
    width: 340px;
}
.username-update-input{
    width: 200px !important;
}
