@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.mini-profile-and-suggestions {
  position: fixed;
  width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 1030px;
  margin-top: 20px;
  max-height: 520px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  /* -webkit-box-shadow: 5px 5px 10px 13px rgba(0, 0, 0, 0.1); */
}

/* .mini-profile-and-suggestions:hover {
  background: linear-gradient(to right, #4e4376, #2b5876);
} */

.suggestions-for-you-title {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-left: 5px;
}

.see-all {
  text-decoration: none;
  font-weight: 600;
  color: rgb(38, 38, 38);
  font-size: 13px;
  margin-right: 6px;
}

.suggestions_container {
  max-height: 522px;
  overflow: scroll;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

.suggest {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgb(131, 131, 131);
}

.suggestions_container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.suggestions_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.mini-profile-and-suggestions .user-row-main-div {
  margin-bottom: 10px;
}

/* mini-profile-and-suggestions */
