.suggestions_container {
    background-color: salmon;
    width: 250px;
    height: 400px;
    /* position: fixed; */
    /* left: 830px;
    top: 187px; */
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
}
