@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.mini-profile-and-suggestions {
  width: 320px;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 20px;
  max-height: 600px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
  /* -webkit-box-shadow: 5px 5px 10px 13px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 10px 8px rgba(0.1, 0.1, 0.1, 0.1);
  border: 1px solid black;
}

s.suggestions-for-you-title {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

.suggest {
  font-family: "Open Sans", sans-serif;
}

.mini-profile-and-suggestions {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.mini-profile-and-suggestions::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* mini-profile-and-suggestions */
