@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.profile-page-container {
  width: 942px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
}

.profile-info {
  display: flex;
  margin-top: 25px;
  color: rgb(38, 38, 38);
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-bottom: 50px;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 85px;
  margin-right: 85px;
  object-fit: cover;
  user-select: none;
}

.profile-username-and-button {
  display: flex;
  margin-bottom: 20px;
}

.profile-username {
  font-size: 26px;
  font-weight: 300;
}

.profile-follow-button,
.profile-following-button {
  margin-left: 30px;
  border: none;
  border-radius: 3px;
  padding: 0px 30px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  background-color: rgb(0, 149, 246);
}
.profile-following-button {
  color: gray;
  background-color: rgb(241, 241, 241);
}

.profile-edit-button {
  margin-left: 30px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 0px 30px;
  color: rgb(38, 38, 38);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  background-color: rgb(249, 249, 249);
}

.profile-numbers {
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
}

.profile-follower-numbers {
  text-decoration: none;
  color: rgb(38, 38, 38);
  cursor: pointer;
}

.profile-number {
  font-weight: 600;
}

.profile-number-text {
  font-weight: 350;
}

.profile-display-name {
  font-weight: 600;
  margin-bottom: 2px;
}

.profile-bio {
  margin-bottom: 2px;
}

.profile-website-url {
  text-decoration: none;
  color: rgb(0, 55, 107);
  font-weight: 600;
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(100, 100, 100, 0.7);
  /* Black w/ opacity */
}

.side-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 450px;
  top: 0;
  width: fit-content;
  /* Full width */
  height: fit-content;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); */
  /* Fallback color */
  /* background-color: rgba(100, 100, 100, 0.7); */
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin-top: 25vh;
  padding: 15px;
  border: 1px solid rgb(220 220 220);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: fit-content;
  min-width: 400px;
  /* min-height: 100px;
  max-height: 600px; */
  margin-left: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: 10; */
  overflow: hidden;
  /* position: relative; */
}

.modal-content-scroll {
  max-height: 30vh;
  min-height: 50px;
  overflow-y: scroll;
  overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
  border-radius: 10px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.user-row-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background-image: conic-gradient(#00aeef, #fff, #00aeef, #fff, #00aeef);
  animation: spin 5s linear infinite;
}

/* display: block;
  border-radius: 9999px;
  content: '';
  width: 108%;
  height: 108%;
  position: absolute;
  z-index: -1;
  left: -4%;
  top: -4%;
  background-image: conic-gradient(#00AEEF, #fff, #00AEEF, #fff, #00AEEF);
  animation: spin 5s linear infinite;
} */

/* @keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} */

.user-row-main-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-right: 0px; */
  padding-right: 0px;
  margin: 8px 0px;
}

.user-row-left-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-row-info-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-row-button {
  max-height: 30px;
  padding: 5px 15px;
}

.user-row-minimal-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(60, 60, 60);
}

.user-row-minimal-button,
.user-row-minimal-button-to-follow {
  padding: 2px 5px;
  height: fit-content;
  margin-top: 8px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
.user-row-minimal-button-to-follow {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(61, 112, 155);
}

.user-row-username {
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.user-row-display-name {
  font-size: 13px;
  color: rgb(131, 131, 131);
}

.follow-modal-top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 0px;
  height: 20px;
  width: 100%;
}
.follow-modal-title-div {
  font-weight: bold;
}

.modal-close {
  z-index: 100;
  margin: 0px;
  padding: 0px;
  font-size: 26px;
}

.hr {
  width: 100%;
}

.modal-content-spot-creation {
  background-color: #fefefe;
  margin-top: 15vh;
  padding: 15px;
  border: 1px solid rgb(220 220 220);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 50vw;
  min-width: 400px;
  max-width: 600px;
  margin-left: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content-center-items {
  align-items: center;
}

.modal-content h3 {
  font-size: x-large;
  padding: 0px;
}

#modal-form {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

#inputName {
  align-self: center;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

#inputName:hover {
  border: 1px solid rgb(190, 190, 190);
}

#inputName:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}
