.feed_container {
  width: 600px;
  margin-left: 50px;
  margin-right: 45px;
}

.three-dots {
  /* margin-left: 250px; */
}


.feed_grid_container1{
  max-width: 1200px;

  margin-left: 50px;
  margin-right: 45px;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 0% 4%;
  /* background-color: white; */
  width: 100%;
  justify-items: center;  
}

.three-column-div{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.feed_grid_container {
  margin-top: 60px;
  /* Prevent vertical gaps */
  /* max-width: 1200px; */

  /* line-height: 2; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* max-height: 900px; */
   
  /* -webkit-column-count: 3;
  -webkit-column-gap:   30px;
  -moz-column-count:    3;
  -moz-column-gap:      30px;
  column-count:         3;
  column-gap:           30px;   */
}

.feed_grid_container_column {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 5px;
  /* line-height: 2;
   
  -webkit-column-count: 1;
  -webkit-column-gap:   10px;
  -moz-column-count:    1;
  -moz-column-gap:      10px;
  column-count:         1;
  column-gap:           10px;  
  margin: auto 5px; */
}

.feed_grid_container_column img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

.feed_post_img:hover,
.feed_post_vid:hover {
  filter: brightness(80%);
}
.feed_post_img,
.feed_post_vid{
  width: 400px;
  height: 225px;
  margin: 5px auto;
}
.feed_post_vid{
  z-index: 1;
}
