.new-post-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.new-post-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 460px;
  height: auto;
  min-height: 400px;
  transform: translate(-50%, -30%);
  background-color: rgb(250, 250, 250);
  padding: 40px 0px 0px 0px;
  z-index: 100;
  border-radius: 10px;
}
