@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.top-navbar {
  display: flex;
  background-color: white;
  padding: 0px 150px;
  border-style: solid;
  border-width: 0px;
  border-color: #e9e9e9;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  /* background: #2b5876; fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #4e4376, #2b5876); */
  background: linear-gradient(to right, #4e4376, #2b5876);
}

.lioness {
  position: relative;
  width: 36px;
  height: 36px;
  right: 20px;
  top: 1px;
}

.nav-title {
  margin-top: 18px !important;
  letter-spacing: 2.5px;
  font-weight: 360;
  margin-left: -8px;
  color: rgb(210, 210, 210) !important;
}

.nav-title:active:hover {
  color: rgb(240, 240, 240) !important;
}

.nav-title-logo {
  position: absolute;
  left: 40%;
  margin-left: -272px;
}

.navbar-content {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
}

.navbar-content.right-side {
  position: absolute;
  left: 40%;
  margin-left: 485px;
}

.search-navbar-content {
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  border: 1px solid black;
  border-radius: 40px;
}

.top-navbar input[type="text"] {
  outline: none;
}

/* .top-navbar input[type="text"]:focus {
  width: 40%;
} */
.navbar-content:hover {
  background-color: #6a2c70 0px 10px 10px, #b83b5e 0px 6px 6px;
}

ul {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}

li {
  margin: 0px 8px;
  list-style-type: none;
}

.navbar-icon {
  height: 22px;
  width: 22px;
  margin-bottom: 3px;
  margin-left: 15px;
  color: #bebebe;
}

.heart-button {
  margin-bottom: 2px !important;
}

.profile-button {
  width: 24px;
  height: 24px;
}

.navbar-icon:hover {
  font-weight: 200;
}

.top-navbar p {
  font-family: "Open Sans", sans-serif;
  font-weight: 20px;
  /* color: white; */
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.der {
  color: #bebebe;
  font-size: 30px;
  margin-top: -10px;
  margin-left: 14px;
  cursor: pointer;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
