.top-navbar {
    display: flex;
    background-color: white;
    padding: 0px 250px;
    border-style: solid;
    border-width: 1px;
    border-color: #E9E9E9;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.navbar-content {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

li {
    margin: 0px 8px;
    list-style-type: none;
}

.navbar-icon {
    height: 22px;
    width: 22px;
    margin-top: 10px;
    margin-left: 15px;
  }
