@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.message-page-main-div {
  width: 70vw;
  height: 80vh;
  /* margin: 10px 0px 50px; */
  display: flex;
  border: 2px solid black;
  margin-top: 100px;
}

.message-page-left-panel,
.message-page-right-panel {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  height: 100%;
}
.message-page-left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: linear-gradient(to right, #ef9f68, #cd9f95);
}
.message-page-right-panel {
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  background: linear-gradient(to right, #ef9f68, #cd9f95);
}

.top-left-div,
.top-right-div {
  height: 80px;
  border-bottom: 1px solid gray;
}
.middle-left-div {
  height: 40px;
  border-bottom: 1px solid gray;
}
.main-left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.main-right-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 40vh; */
  height: fit-content;
}
.message-pannel-div {
  margin: 5px;
  padding: 5px;
  /* position: relative; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.messages-div {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* bottom: 60px; */
}
.message-typing-box-div {
  height: 50px;
  /* position: fixed; */
  /* bottom: 5px; */
  width: 100%;
}
.message-input-box {
  width: 80%;
  resize: none;
}
.message-input-form {
  display: flex;
  align-items: flex-end;
}

.top-right {
  display: flex;
  text-align: center;
  justify-content: center;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 2;
}

.top-left {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 2;
}
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover,
.hvr-wobble-bottom:focus,
.hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}
